In [1]:
import pandas as pd
import numpy as np
from sklearn import *
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from multiprocessing import * 

import xgboost as xgb
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression

In [5]:
train = pd.read_csv('/home/saad/python_programming/train.csv')
test = pd.read_csv('/home/saad/python_programming/test.csv')

In [15]:
train.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [7]:
test.head()

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,0,0,1,8,1,0,0,1,0,0,...,1,1,1,12,0,1,1,0,0,1
1,1,4,2,5,1,0,0,0,0,1,...,2,0,3,10,0,0,1,1,0,1
2,2,5,1,3,0,0,0,0,0,1,...,4,0,2,4,0,0,0,0,0,0
3,3,0,1,6,0,0,1,0,0,0,...,5,1,0,5,1,0,1,0,0,0
4,4,5,1,7,0,0,0,0,0,1,...,4,0,0,4,0,1,1,0,0,1

In [18]:
id_test = test['id'].values
id_test

array([      0,       1,       2, ..., 1488024, 1488025, 1488026])

In [20]:
target_train = train['target'].values
target_train

array([0, 0, 0, ..., 0, 0, 0])

In [25]:
train = train.replace(-1, np.nan) #Replace NaN with -1
# train

In [24]:
# test

In [27]:
test = test.replace(-1, np.nan)

In [31]:
print(train.shape, test.shape)

(595212, 59) (892816, 58)

In [32]:
d_median = train.median(axis=0)
d_mean = train.mean(axis=0)

In [35]:
train = train.fillna(-1)

In [36]:
one_hot = {c: list(train[c].unique()) for c in train.columns if c not in ['id','target']}

In [38]:
# one_hot